<div class="banner" fxLayout.lg="row" fxLayoutAlign="space-evenly center">

    <div fxFlex.lg="50%" fxLayoutAlign="center center" style="margin-top:2% ;margin-right:40px ;">

        <img src=" assets/admin-panel-pic.png" style="width:400px">


    </div>


    <div fxFlex.lg="60%" style="margin-top:100px;padding-left:120px; padding-right:100px">

        <h1>
            HR Panel

        </h1>

        <p>
            - Vacancy Declaration
        </p>
        <p>
            - Vacancy Policy Setup
        </p>
        <p>
            - Exam Setup
        </p>
        <p>
            - Exam Question Setup
        </p>
        <p>
            - Exam Marks And Result Option
        </p>
        <p>
            - Approval Setup(Checker -Maker)
        </p>
        <p>
            - Bulk Marks,Shortlisted User Upload Option
        </p>
        <p>
            - Selection Process
            <span>Age, Experience, Location, Academic Qualification, Training, Certificate</span> </p>



    </div>
</div>