<div class="img-fluid">
    <div fxLayout.lg="row" fxLayoutAlign="space-evenly center">
        <div fxFlex.lg="50%" style="margin-top:2%; padding-left: 10%;">
            <h1 style="text-align:center;font-size:48px;font-weight: 100; font-family:'Manrope';color: #1D1D4F;">Book Your Demo Now
            </h1>



            <p style="text-align:center; font-size: 18px; font-family:'Manrope';color: #1D1D4F; margin-top: 20px;">
                Hire exceptional candidates, Reduce spend, Faster with the best online
                <br>
            </p>
            <p style="text-align:center; font-size: 18px; font-family:'Manrope';color: #1D1D4F;">
                recruitment application on the market.</p>

            <br>

            <form action="action_page.php">
                <div class="container">
                    <label style="display: inline-block; " for="email"><b>Name</b></label>
                    <input type="text" placeholder="Enter Name" name="email" id="email" required>
                    <label style="display: inline-block; " for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required>
                    <label style="display: inline-block; " for="email"><b>Company Name</b></label>
                    <input type="text" placeholder="Company Name" name="email" id="email" required>

                    <label style="display: inline-block; " for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                    <button mat-button class="button-shap">VIEW NOW</button>


                </div>


            </form>
        </div>