<div class="img-fluid" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxFlex="50% " style="margin-top:3%;padding-left:120px; padding-right:150px ">
        <h1>
            Online Exam Portal

        </h1>

        <br>

        <p>
            - Face Liveliness Checking
        </p>
        <p>
            - Duplicate Face Checking

        </p>
        <p>
            -Multiple Face Checking
        </p>



    </div>
    <div fxFlex="50% " fxLayoutAlign="center center " style="margin-top: 3% ">

        <img src=" assets/exam-portal-pic.png " style="width:600px; float: right; ">



    </div>


</div>