<div class="img-fluid" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxFlex="50% " style="margin-top:3%;padding-left:120px; padding-right:150px ">
        <h1>
            Applicant Information

        </h1>

        <br>

        <p>
            <span><img src="assets/arrows/arrow1.png"></span> Applicant Basic Information
        </p>
        <p>
            <span><img src="assets/arrows/arrow2.png"></span> Education Information

        </p>
        <p>
            <span><img src="assets/arrows/arrow3.png"></span> Experience Information
        </p>
        <p>
            <span><img src="assets/arrows/arrow4.png"></span> Professional Information
        </p>
        <p>
            <span><img src="assets/arrows/arrow5.png"></span> Professional Certification Information
        </p>
        <p>
            <span><img src="assets/arrows/arrow6.png"></span> Training Information
        </p>



    </div>
    <div fxFlex="50% " fxLayoutAlign="center center " style="margin-top: 2% ">

        <img src=" assets/info-pic.png " style="width:600px; float: right; ">



    </div>


</div>