<div class="img-fluid" fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxFlex="50% " style="margin-top:3%;padding-left:120px; padding-right:150px ">
        <h1>
            Applicant Information

        </h1>

        <br>

        <p>
            - Applicant Basic Information
        </p>
        <p>
            - Education Information

        </p>
        <p>
            -Experience Information
        </p>
        <p>
            - Professional Information
        </p>
        <p>
            - Professional Certification Information
        </p>
        <p>
            - Training Information
        </p>



    </div>
    <div fxFlex="50% " fxLayoutAlign="center center " style="margin-top: 2% ">

        <img src=" assets/info-pic.png " style="width:600px; float: right; ">



    </div>


</div>