<div fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxFlex="60%" style="margin-top:150px;padding-left:120px; padding-right:100px">
        <h1>
            Applicant Information

        </h1>

        <br>

        <p>
            - Applicant Basic Information
        </p>
        <p>
            - Education Information

        </p>
        <p>
            -Experience Information
        </p>
        <p>
            - Professional Information
        </p>
        <p>
            - Professional Certification Information
        </p>
        <p>
            - Training Information
        </p>



    </div>
    <div fxFlex="50% " fxLayoutAlign="end end" style="margin-top:150px ;margin-right:40px ;justify-content: right; ">

        <img src=" assets/info-pic.png " style="width:600px; float: right; top: 0; ">



    </div>


</div>