<div class="img-fluid">
    <div fxLayoutAlign="space-evenly center" style="color: white;font-size:20px; padding:30px;">
        <img src=" assets/Logo.png " style="width:200px; padding-right: 200px;">

        <a mat-button style="padding-right: 200px;"></a>
        <a mat-button class="nav-button">Home</a>
        <a mat-button class="nav-button">About us</a>
        <a mat-button class="nav-button">Procedures</a>
        <a mat-button class="nav-button">Services</a>
        <!-- <a fragment="services" (click)="navigateSection('services')" mat-button>Services</a> -->


        <!-- <a fragment="form" (click)="navigateToSection('form')" mat-button>Contact Us</a> -->
        <a fragment="form" mat-button class="button-shape" style="margin-right: 60px;">Contact Us</a>

        <a mat-button class="button-shape" style="margin-right: 60px;"> LOGIN </a>
    </div>

    <div fxLayout.lg="row" fxLayoutAlign="space-evenly center">

        <div fxFlex.lg="60%" style="margin-top:150px;padding-left:120px; padding-right:100px">
            <h1 style="text-align:center;font-size:48px; font-family:'Manrope';color: #1D1D4F;">REVAMP YOUR HIRING PLATFORM
            </h1>

            <!-- <h1 style="text-align:center;font-size:48px; font-weight:bold;font-family:'Manrope';color: #1D1D4F;margin-top:30px;  margin-bottom: 30px;">
                SOLUTIONS
            </h1> -->

            <p style="text-align:center; font-size: 18px; font-family:'Manrope';color: #1D1D4F; margin-top: 20px;">
                Hire exceptional candidates, Reduce spend, Faster with the best online
                <br>
            </p>
            <p style="text-align:center; font-size: 18px; font-family:'Manrope';color: #1D1D4F;">
                recruitment application on the market.</p>

            <br>


            <!-- <p style="text-align:center; font-size: 18px; font-family:'Roboto';color: white; margin-bottom: 20px;">
                This solution has been built and maintained by
                <a href="https://erainfotechbd.com/"><img src="assets/page-image/era.png " alt="" width="80px"></a>
            </p> -->
            <!-- <a fragment="form" (click)="navigateToSection('form')" style="background-color: #F18600;
      border-radius: 25px;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      font-size: 13px;
      width:60%;" mat-button> DOWNLOAD GUIDE </a> -->

            <a fragment="form" id="center" style="background-color: #F18600;
        border-radius: 25px;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        font-size: 13px;
        left: 45%;
        " mat-button class="button-shape"> BOOK YOUR DEMO</a>
            <a fragment="form" id="center" style="background-color: #F18600;
                  border-radius: 25px;
                  border: 2px solid #FFFFFF;
                  color: #FFFFFF;
                  font-size: 13px;
                  left: 55%;
                  " mat-button class="button-shape"> OUR SOLUTION</a>
        </div>

        <div>
            <p style="text-align:center; font-size: 18px; font-family:'Manrope';color: #1D1D4F; position: absolute; bottom: 0 ;left: 38%;">
                This application is copyrighted to
                <a href="https://erainfotechbd.com/"><img src="assets/eralogo.png " alt="" width="80px"></a>
            </p>
        </div>




    </div>
</div>